/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .nav_header {
        margin-right: 40px;
    }
    .center_line {
        width: 168px;
    }
    .center_line:before {
        border-left: 84px solid transparent;
        border-right: 85px solid transparent;
        border-top: 22px solid rgba(255, 255, 255, 0.6);
    }
    .mygoal_text p {
        margin: 15px 0;
        padding: 0;
        font-size: 17px;
        line-height: 18px;
    }
    .social_text {
        line-height: 18px;
    }
    .social_wrap h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .text_img_html,
    .text_img_css,
    .text_img_js,
    .text_img_jqeury,
    .text_img_photoshop,
    .text_img_git {
        left: 0px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .nav_header ul {
        margin: 0;
        padding: 0;
    }
    .nav_header,
    .center_line,
    .header_top.left,
    .header_top.right,
    .my_contacts,
    .my_foto,
    .mygoal_text {
        position: relative;
    }
    .section_h2 {
        padding: 20px 0;
    }
    form {
        margin: 0px 21px 27px 33px;
    }
    .contacts_text p {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }
    .social_wrap {
        margin-top: 12px;
    }
    .social_wrap h3 {
        font-size: 29px;
        margin-bottom: 12px;
        margin-top: 18px;
    }
    .social_line {
        border: none;
        margin-bottom: 55px;
    }
    .text_img_html,
    .text_img_css,
    .text_img_js,
    .text_img_jqeury,
    .text_img_photoshop,
    .text_img_git {
        left: 45px;
    }
    .text_img {
        width: 156px;
    }
    .text_img_css,
    .text_img_jqeury {
        top: -93px;
    }
    .skil_wrap img {
        margin-bottom: 85px;
    }
}

@media only screen and (max-width: 780px) {
    .mygoal_text, .my_contacts {
        text-align: center;
        margin-top: 0;
    }
    .center-block {
        margin: 0 auto;
        float: none;
    }
    .mygoal_text,
    .my_foto,
    .my_contacts {
        left: 0;
    }
    .my_section {
        margin: 0;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .my_foto {
        left: 0;
        width: 50%;
        margin: 0 auto;
    }
    .sayts_wrap {
        margin-bottom: 0px;
    }
    .navbar-nav>li {
        float: left;
        width: 25%;
    }
    .navbar-nav>li>a {
        padding: 0;
    }
    .no-pading {
        padding: 0;
    }
    .skil_wrap {
        width: 70%;
        margin: 0 auto;
    }
    .imageWrapper {
        margin-bottom: 30px;
    }
    .no_padding_768 {
        padding: 0;
        margin: 0;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 640px) {
    .heders_section h1 {
        font-size: 35px;
    }
    .header_name_left h3,
    .header_name_right h3 {
        font-size: 28px;
    }
    .section_h2 {
        margin: 30px 0;
        font-size: 35px;
    }
    .img_text_wrap h3 {
        font-size: 19px;
    }
    .img_text_wrap p {
        font-size: 13px;
    }
    .img_text_wrap {
        transform: translate(0, -62%);
    }
    .img_text_wrap span {
        padding: 3px 20px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .heders_section h1 {
        font-size: 39px;
        line-height: 59px;
        margin-top: -20px;
    }
    .soft {
        width: 50%;
    }
    .section_skills {
        padding-bottom: 0;
    }
    .header_name_left h3,
    .header_name_right h3 {
        font-size: 22px;
    }
    .text_img {
        width: 150px;
    }
    .text_img_html,
    .text_img_photoshop,
    .text_img_git,
    .text_img_js {
        left: 50px;
        top: -50px;
    }
    .text_img_css,
    .text_img_jqeury {
        left: 50px;
        top: -70px;
    }
    .text_img {
        font-size: 14px;
        padding: 3px 8px;
    }
    .img_text_wrap span {
        font-size: 17px;
    }
    form {
        margin: -35px 11px 35px 11px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .social_wrap h3 .social_text {
        font-size: 20px;
    }
    .header_name_left h3,
    .header_name_right h3 {
        font-size: 20px;
    }
    .heders_section .header_name_right {
        padding-left: 26px;
    }
    .my_section {
        margin-top: 0;
        padding-top: 15px;
        margin-bottom: 10px;
    }
    .mygoal_text p {
        margin: 13px 0;
        font-size: 16px;
    }
    .mygoal_text h2,
    .my_contacts h2 {
        margin-bottom: 25px;
    }
    .text_img {
        width: 172px;
    }
    .text_img_html,
    .text_img_css,
    .text_img_js,
    .text_img_jqeury,
    .text_img_photoshop,
    .text_img_git {
        left: 73px;
    }
    .text_img_css,
    .text_img_jqeury {
        top: -62px;
    }
    .soft {
        width: 100%;
    }
    .skil_wrap {
        width: 60%;
    }
    .text_img {
        font-size: 14px;
    }
    .img_text_wrap h3 {
        font-size: 18px;
    }
    .img_text_wrap p {
        font-size: 11px;
    }
    .img_text_wrap {
        transform: translate(0, -62%);
    }
    .img_text_wrap span {
        padding: 1px 20px;
        font-size: 20px;
    }
    .contacts_text p {
        font-size: 16px;
        line-height: 23px;
    }
    .section_h2 {
        margin: 15px 0;
        font-size: 28px;
    }
    .social_wrap h3 {
        font-size: 24px;
        margin-bottom: 14px;
        margin-top: 4px;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    i.fa.fa-envelope {
        font-size: 20px;
    }

}


@media only screen and (max-width: 768px) and (min-width: 436px) {
    form {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}
