    .navbar-brand {
      left: 2%;
      position: relative;
    }
    
    .navbar-toggle {
      right: 2%;
    }
    
    .navbar a,
    .sec-about p {
      text-align: center;
    }
    
    .navbar a {
      font-size: 16px;
    }
    
    .navbar .fa-external-link {
      font-size: 10px;
    }
    
    .navbar-default .navbar-nav>li>a {
      color: #000 !important;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    
    .navbar-default {
      background: #fff;
      text-transform: uppercase;
    }
    
    .navbar .fa-external-link {
      vertical-align: top;
    }
    .navbar-default .navbar-header a:hover,
    .navbar-default .navbar-header a:active,
    .navbar-default .navbar-header a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:active {
      color: #00BBEA !important;
    }
    
    .navbar-default .navbar-nav > li > a:active {
      color: #940000;
    }
    .navbar-collapse.collapse.in  {
        background-color: rgba(255, 219, 219, .5) !important;
    }